<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key><string>software-package</string>
          <key>url</key><string>https://xiaoli55979.github.io/ipa_install/ipa/com.kc535.eg.260607-3636-mobile-5.6.12.ipa</string>
        </dict>
        <dict>
          <key>kind</key><string>display-image</string>
          <key>url</key><string>https://xiaoli55979.github.io/ipa_install/icons/com.kc535.eg.260607-ios.png</string>
        </dict>
        <dict>
          <key>kind</key><string>full-size-image</string>
          <key>url</key><string>https://xiaoli55979.github.io/ipa_install/icons/com.kc535.eg.260607-ios.png</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key><string>com.kc535.eg.260607</string>
        <key>bundle-version</key><string>5.5.13</string>
        <key>kind</key><string>software</string>
        <key>title</key><string>皇冠体育</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
